---
layout: default
image: /images/fulls/01.jpg
---
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <section>
    <h2><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></h2>
    <!--<p>
      <span><i class="fa fa-calendar"></i> {{ post.date | date: "%d %B %Y" }}{% if post.categories %} on <i class="fa fa-tags"></i> {{ post.categories | join: ', ' }}{% endif %}</span>
    </p>-->
	<div>
	  {{ post.excerpt }}
	  
	</div>
	<br/>
	
	<div>
	<!--<img src={{post.coverImage}} height="200" onclick="window.open(this.src)">-->
	<a href="{{post.location}}" id=post.title >
	<img src={{post.coverImage}} height="200">
	</div>
	
  
  </section>
{% endfor %}

{% if paginator.total_pages > 1 %}
<!-- Pagination links -->
<section>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Previous</a>
  {% endif %}
  <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next</a>
  {% endif %}
</section>
{% endif %}




{% if site.google-analytics-ua %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108436907-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108436907-1');
</script>
{% endif %}